{% extends "base.html" %}


{% load wagtailcore_tags %}


{% block content %}

<div class="container">
  <div class="row justify-content-center title-block-text">
    <div class="col-md-8">


      <h1 class="page-title">{{ page.title }}</h1>

    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-md-4">
      <form action="submit">
        <div>
          <label for="nombre">Nombre:</label>
          <div class="col-sm-12">
            <input type="text" id="nombre" placeholder="Nombre" required>
          </div>
          <label for="email">Email:</label>
          <div class="col-sm-12">
            <input type="mail" id="email" placeholder="email" required>
          </div>
          <label for="msg">Mensaje:</label><br>
          <textarea id="msg" placeholder="Escribe tu mensaje:" required></textarea>
          <div class="col-sm-12">
            <button type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <br>

  </div>

</div>

{% endblock %}