{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags blog_tags %}

{% block body_class %}template-musicapage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    <div><img src="{{ page.imagen }}" width="100%"></div>


    {{ page.body|richtext }}

   
    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
        <ol>{{ tag }}</ol>
        {% endfor %}
    </div>
    {% endif %}

    <p><a href="{{ page.get_parent.url }}">...Volver al blog</a></p>
</div>

{% endblock %}