{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags blog_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

{% endblock %}

{% block body_class %}template-viajespage{% endblock %}



{% block content %}
<div class="container">
    <h1>Viaje a {{ page.title }}</h1>

    <p class="meta">{{ page.intro }}</p>



    <div><img src="{{ page.imagen }}" width="100%"></div>

    {{ page.body|richtext }}


    <br>

    <div id="map" style="height: 250px;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23216.43031451245!2d-1.8092141674695816!3d43.334063479837994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51088ba8674817%3A0x86ff9f9180d14bb8!2zSXLDum4sIEdpcHV6a29h!5e0!3m2!1ses!2ses!4v1646668012152!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <hr>

    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
        <ol>{{ tag }}</ol>
        {% endfor %}
    </div>
    {% endif %}


    <p><a href="{{ page.get_parent.url }}">...Volver al blog</a></p>
</div>

{% endblock %}



{% block extra_js %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script>


</script>
{% endblock %}